#rotation>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5rem;
    gap: 2rem;
    color:white
}

#rotation>ul>li {
    background-color: royalblue;
    flex-basis: 30%;
    height: 5rem;
    text-align: center;
}

#rotation>ul>li:nth-child(1) {
    /*perwspective() function delivers the disance the pages surface and the imagines viewer in a 3D environment*/
    transform: perspective(500px) rotateX(-45deg);
    /*there are other units available
    e.g turn(90deg = 0.5turn)*/
}

#rotation>ul>li:nth-child(2){
    transform: perspective(800px) rotateY(0.6turn);
}

#rotation>ul>li:nth-child(3){
    /*negative values go against clockwise*/
    transform: rotateZ(-22.5deg);
}

#rotation>ul>li:nth-child(4){
    /*negative values go against clockwise*/
    transform: perspective(800px) rotateZ(-22.5deg) rotateX(25deg) rotateY(0.125turn);
}

#idea>h2{
    background-color: lightsalmon;
    transition: all 1s;
}

#idea>h2:hover{
    height: 10rem;
    transform: perspective(800px) rotateY(45deg);
    transition: all 1s;
}

#translation>p>span{
    color: red;
}

.updown{
    transform: translateY(0.5rem);
}