/*div {
    width: 300px;
    height: 300px;
    background-color: orangered;
    animation-name: squish;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

*/

/*at-rule*/
/*controls behavior*/
/*Keyframes controls the intermediate steps in 
an animation by defining keyframes along the sequence*/

/*
@keyframes squish {
    from {
        margin-left: -10%;
        width: 5%;
    }

    to {
        margin-left: 50%;
        width: 40%;
        background-color: dodgerblue;
        border-radius: 50% ;
    }
}
*/

/*________________________________________________________________*/

/*
p{
    font-size: 2.4rem;
    text-align: center;
    margin:0 auto;
    animation-name: slider;
    animation-duration: 3s;
    width: 70%;
}
*/
/*
@keyframes slider{
    from{
        margin-left: 100%;
}

    to{
        margin-left: 0;
        width: 80%;
    }
}
*/

/*KEYFRAMES AS PERCENTAGES*/

div{
    height: 200px;
    width: 200px;
    margin:20% auto;
    background-color: deeppink;
    box-shadow: 9px 12px 15px rgb(90 90 90);
    animation-name: crazy;
    animation-duration: 10s;
    animation-direction: reverse;
}

@keyframes crazy{
    0%{
        border-radius: 0 0 0 10%;
        -webkit-border-radius: 0 0 0 10%;
        -moz-border-radius: 0 0 0 10%;
        -ms-border-radius: 0 0 0 10%;
        -o-border-radius: 0 0 0 10%;
        transform: rotate(900deg) translateY(-200px, 40px);
        -webkit-transform: rotate(900deg) translateY(-200px, 40px);
        -moz-transform: rotate(900deg) translateY(-200px, 40px);
        -ms-transform: rotate(900deg) translateY(-200px, 40px);
        -o-transform: rotate(900deg) translateY(-200px, 40px);
}
    25%{
        border-radius: 50% 0 0 0;
        background-color: firebrick;
        -webkit-border-radius: 50% 0 0 0;
        -moz-border-radius: 50% 0 0 0;
        -ms-border-radius: 50% 0 0 0;
        -o-border-radius: 50% 0 0 0;
        transform: rotate(-90deg) translateY(200px, -75px);
        -webkit-transform: rotate(-90deg) translateY(200px, -75px);
        -moz-transform: rotate(-90deg) translateY(200px, -75px);
        -ms-transform: rotate(-90deg) translateY(200px, -75px);
        -o-transform: rotate(-90deg) translateY(200px, -75px);
}

    50%{
        border-radius: 50% 100% 10% 65%;
        -webkit-border-radius: 50% 100% 10% 65%;
        -moz-border-radius: 50% 100% 10% 65%;
        -ms-border-radius: 50% 100% 10% 65%;
        -o-border-radius: 50% 100% 10% 65%;
        background-color: greenyellow;
        width: 80%;
        transform: rotate(-1200deg);
        -webkit-transform: rotate(-1200deg);
        -moz-transform: rotate(-1200deg);
        -ms-transform: rotate(-1200deg);
        -o-transform: rotate(-1200deg);
        
}
    75%{
        width: 10%;
        background-color: khaki;
        border-radius: 5px solid;
        -webkit-border-radius: 5px solid;
        -moz-border-radius: 5px solid;
        -ms-border-radius: 5px solid;
        -o-border-radius: 5px solid;
  
}

}

.slide-bck-center {
	-webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-7 11:51:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  @keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  